includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '~Call to an undefined method object::print\(\)~'
        - '~Parameter \$object of anonymous function has invalid typehint type object~'
        - '~Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::once\(\)~'
        - '~Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::andReturn\(\)~'
        - '~.+Mockery\\MockInterface given~'